<!doctype html>
<html ng-app="app">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>

<div ng-controller="MainCtrl">
    <button id="footerButton1" class="btn btn-success" ng-click="toggleFooter()">Toggle Grid Footer</button>
    <button id="footerButton2" class="btn btn-success" ng-click="getFooterValue()">Get Footer Value</button>
    <button class="btn btn-success" ng-click="toggleColumnFooter()">Toggle Column Footer</button>
    <div id="grid1" ui-grid="gridOptions" class="grid"></div>
</div>


<script src="app.js"></script>
</body>
</html>
