<!DOCTYPE html>
<html ng-app="app">

<head>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid.js"></script>
    <script data-require="lodash.js@*" data-semver="3.8.0"
            src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css"/>
    <link rel="stylesheet" href="main.css" type="text/css"/>
    <style>
        .ui-grid-filter-container {
            display: none !important;
        }
    </style>
</head>

<body>
<div ng-controller="MainCtrl">
    <br/>
    <div>
        <select class="form-control" ng-model="term" ng-change="filterGender()"
                ng-options="s.id as s.value for s in genders">
            <option value="">Select gender</option>
        </select>
    </div>
    <div id="grid1" ui-grid="gridOptions" ui-grid-cellnav="" ui-grid-edit="" ui-grid-resize-columns=""
         ui-grid-pinning="" ui-grid-selection="" ui-grid-move-columns="" class="grid"></div>
</div>
<script src="app.js"></script>
</body>

</html>
