<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="ng-multiselect.css">
    
    <script data-require="jquery@3.2.1" data-semver="2.1.3" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.3.2" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script data-require="angular.js@1.3.8" data-semver="1.3.8" src="https://code.angularjs.org/1.5.11/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-sanitize.min.js"></script>
    <script src="ng-multiselect.js"></script>
    <script src="app.js"></script>
    <style>
      .user{
        color: #0074D9;
      }
    </style>
  </head>

  <body ng-app="myApp">
    <div class="container" ng-controller="DemoController">
      <h3>Dynamic Data Demo</h3>
      <multiselect placeholder="Select users..."
                   ms-model="multiselect.selected"
                   ms-config="multiselect.config"
                   ms-options="multiselect.options">
      </multiselect>
      <hr>
      <small class="text-muted">
        <p><b>Selected users:</b> {{displayUsers()}}</p>
       
      </small>
    </div>
  </body>

</html>
